

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 25%;
}

.bg-color {
  border-radius: 10px;
  color: white;
  border: 3px solid black;
  padding: 18px 65px;
  margin: 0px 10px;
  font-size: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #333;
  box-sizing: border-box;
}

.color1 {
  color: hsl(205, 78%, 60%);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56%;
  left: 45%;
}

.btn-1 {
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-family: "Stint Ultra Condensed", cursive;
  font-weight: bold;
  font-size: 1rem;
}

.btn-1:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#watermark {
    position: fixed;
     bottom: 0; 
     right: 0; 
     font-size: 1.5rem;
   }

   @media (max-width: 580px) {
    .container{
      position: absolute;
      top: 30%;
      left: 25%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

   
    .but{
      padding-top: 10rem;
      position: absolute;
      top: 50%;
      left: 35%;
      }

    .btn-1{
      padding: 10px 20px;
      border-radius: 3px;
      
   
     font-family: "Roboto", sans-serif;
     font-family: "Stint Ultra Condensed", cursive;
     font-weight: bold;
     font-size: 1rem;
    }

    .bg-color{
      border-radius: 10px;
      color: white;
      border: 3px solid black;
      padding: 18px 65px;
      margin: 0px 10px;
      font-size: bold;
      text-transform: uppercase;
     
      font-family: "Roboto", sans-serif;
      background-color: #333;
      box-sizing: border-box;
    }
}

@media (max-width: 10000px) {

    .but{
      padding-top: 114px;
      padding-right: 0px;
      position: absolute;
      top: 58%;
      left: 42%;
    }
 
    .btn-1{
    padding: 10px 40px;
    border-radius: 5px;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Stint Ultra Condensed", cursive;
    font-weight: bold;
    font-size: 18px;
    }
}
